{% extends "nav.html" %}

{% block title %}
Reset Password
{% endblock title %}


{% block form %}

<form action="{% url 'request-reset-email' %}" method="POST">
    {% csrf_token %}
    <h2>Enter Email here</h2>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}
      </div>
    {% endfor %}
    <div class="mb-3">
      <input type="email" class="form-control" name ='email' placeholder="Email Address">
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>

{% endblock form %}


