{% extends "nav.html" %}

{% block title %}
Set Password
{% endblock title %}


{% block form %}

<form action="{% url 'set-new-password' uidb64 token %}" method="POST">
    {% csrf_token %}
    <h2>Set New Password</h2>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}
      </div>
    {% endfor %}
    <div class="mb-3">
        <input type="password" class="form-control" name ='pass1' placeholder="Password">
      </div>
      <div class="mb-3">
          <input type="password" class="form-control" name ='pass2' placeholder=" Confirm Password">
      </div>
    <button type="submit" class="btn btn-primary">Reset</button>
  </form>

{% endblock form %}


